# Carpeta de herramientas de Dart (Indispensable ignorar)
.dart_tool/
.packages
.pub/
.pub-cache/
build/

# Ignorar carpetas nativas que inflan el porcentaje de otros lenguajes
# (Solo las ignoramos en GitHub, seguirán en tu PC para que el código corra)
android/
ios/
linux/
macos/
windows/
web/

# Archivos de configuración de editores
.idea/
.vscode/
*.iml
*.iws
*.ipr

# Logs y basura del sistema
*.log
.DS_Store
